.buttons {
    background-color: transparent;
    color: black;
    border: 2px solid black;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    overflow: hidden;
    height: 75px;
    width: 150px;
    justify-self: center;
}

.b1 {
    grid-area: b1;
    border-radius: 5px;
    height: 50px;
    width: 110px;
    transition-duration: 300ms;
}

.b1:hover {
    border: 2px solid rgb(31, 134, 251);
    transition-duration: 300ms;
    background-color: rgba(31, 134, 251, 0.5);
    box-shadow: 0 0 5px rgb(31, 134, 251), 0 0 10px rgb(31, 134, 251),
     0 0 20px rgb(31, 134, 251), inset 0 0 5px rgb(31, 134, 251), inset 0 0 10px rgb(31, 134, 251),
     inset 0 0 20px rgb(31, 134, 251);
    border-radius: 15px;
    height: 75px;
    width: 150px;
    font-size: 20px;
}

.b2 {
    grid-area: b2;
    outline: 1px solid rgb(0,0,0);
    outline-offset: 0px;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    transition-duration: 1000ms;
}

.b2:hover {
    box-shadow: inset 0 0 5px black, 0 0 5px black;
    outline-offset: 15px;
    outline: 3px solid rgba(0,0,0,0);
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    transition-duration: 1000ms
}

.b3 {
    grid-area: b3;
}

.b4 {
    grid-area: b4;
}

.b5 {
    grid-area: b5;
}

.b6 {
    grid-area: b6;
}